@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat';
  margin: auto;
}

header h1 {
  color: white;
  text-align: center;
  padding: 10px 0;
}

header {
  columns: 3;
  background-color: #28759e;
  margin: auto;
  text-align: center;
  height: 5em;
}

header a {
  color: black;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  border-radius: 10%;
}

header img {
  border-radius: 50%;
  height: fit-content;
  padding: 1em;
}

h1 {
  padding: 70px 0;
  text-align: center;
}


/* h1 {
border-bottom: thin black solid;
}

section {
background: #eeeeee;
padding: 0.25em;
margin-bottom: 0.5em;
}

button p {
    color: black;
    margin: 0;
}

button {
    color: white;
    border: solid .5em white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px gray;

}

button:hover {
    color: pink;
    border: solid .5em purple;
    border-radius: 10%;
  } */