@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat';
  margin: auto;
}

/* HEADER CSS */

header {
  background-color: #28759e;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  min-width: 100%;
}

header h1 {
  color: white;
  margin: 0;
}

header img {
  border-radius: 50%;
  max-height: 80%;
}

header a {
  color: black;
  text-align: center;
}

/* FOOTER CSS */

footer {
  background-color: #28759e;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  min-width: 100%;
}

#author {
  position: absolute;
  left: 2%;
  bottom: 10%;
  color: aquamarine;
}

#source {
  position: absolute;
  right: 2%;
  bottom: 10%;
  color: aquamarine;
}


.page_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_content {
  display: grid;
  justify-content: center;
}


/* h1 {
border-bottom: thin black solid;
}

section {
background: #eeeeee;
padding: 0.25em;
margin-bottom: 0.5em;
}

button p {
    color: black;
    margin: 0;
}

button {
    color: white;
    border: solid .5em white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px gray;

}

button:hover {
    color: pink;
    border: solid .5em purple;
    border-radius: 10%;
  } */