@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat';
  margin: auto;
}

header h1 {
  color: white;
  margin: 0;
}

header {
  background-color: #28759e;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header img {
  border-radius: 50%;
  max-height: 80%;
}

header a {
  color: black;
  text-align: center;
}



/* h1 {
border-bottom: thin black solid;
}

section {
background: #eeeeee;
padding: 0.25em;
margin-bottom: 0.5em;
}

button p {
    color: black;
    margin: 0;
}

button {
    color: white;
    border: solid .5em white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px gray;

}

button:hover {
    color: pink;
    border: solid .5em purple;
    border-radius: 10%;
  } */